<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>

    <title>消息</title>

    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/comm.css">

    <style>
        .readAll {
            background-image: url("img/Clear.png");
        }

        .msCell {
            padding-left: 15px;
        }

        .cellIcon {
            height: 50px;
            width: 50px;
        }

        .subTt {
            max-width: 250px;
        }

        .goodsTitle {

        }

        .hasNew {
            content: '•';
        }

        .goodsInfo{
            min-height: 74px;
        }


    </style>

</head>

<!--******************************************************************************-->

<body>

<header>
    <div class="navBar bottomBorder">
        <div class="navBackIcon" onclick="Comm.close()"></div>
        <div class="navTitle flex_center" onclick="readAll();">
            <div class="rIcon readAll">消息</div>
        </div>
    </div>
</header>
<!--******************************************************************************-->

<section class="bg_lgray">



</section>

<!--******************************************************************************-->
<footer></footer>

<script src="js/z.js"></script>
<script src="js/g.js"></script>
<script src="js/comm.js"></script>
<script src="js/api.js"></script>
<script src="js/art-template.js"></script>

<script>
    function pageresume() {
        config.notDeal = false;
        getMysPageInfo();
    }

    function pageload() {
        getMysPageInfo();
    }


    function getMysPageInfo() {
        var params = {
            userType:1
        }
        SLNetwork('get', '/common/Message/firstByType', params, function (data) {
            if (data.code == 1) {
                var model = data.data || {};
                var html = template('tp_id_msg', model);
                $('section').html(html);


                var list = $('.getContent');

                list.forEach(function (a) {
                    $(a).text($(a).text());
                })

            } else {
                Comm.message(data.msg);
            }
        });
    }

    function readAll() {
        var params = {
            userType:1
        }
        SLNetwork('post', '/common/Message/readall', params, function (data) {
            if (data.code == 1) {
                getMysPageInfo();
            } else {
                Comm.message(data.msg);
            }
        });


        SLNetwork('post', '/common/Message/count', params, function (data) {
            if (data.code == 1) {

            } else {
                Comm.message(data.msg);
            }
        });


    }




</script>


<script type="text/html" id="tp_id_msg">


    <div class="msCell bg_white" onclick="Comm.go('message.html?type=2')">
        <div class="cellCt br5">
            <div class="goods flex_start flexItem_h br5">
                <div class="cellIcon">
                    <img src="img/Order.png" class="imgCover br5" alt="">
                </div>

                <div class="goodsInfo p10 grow4">
                    <div class="goodsTitle">
                        {{if appointment && appointment.isread == 0}}
                        <span class="col_red f18 hasNew orderMsg">•</span>
                        {{/if}}
                        <span>预约提示</span>
                    </div>

                    {{if appointment}}
                    <div class="col_sub f12 subTt wordW getContent">{{getText(appointment.messagecontext||'暂无新消息')}}</div>
                    <div class="time col_sub f12 mt5">{{formatDate(appointment.messagedate,'Y-m-d H:i')}}</div>
                    {{else}}
                    <div class="col_sub f12 subTt wordW">暂无新消息</div>
                    {{/if}}




                </div>
            </div>
        </div>
    </div>


    <div class="msCell bg_white" onclick="Comm.go('message.html?type=1')">
        <div class="cellCt br5">
            <div class="goods flex_start flexItem_h br5">
                <div class="cellIcon">
                    <img src="img/System.png" class="imgCover br5" alt="">
                </div>

                <div class="goodsInfo p10 grow4 topBorder">
                    <div class="goodsTitle">
                        {{if sys && sys.isread == 0}}
                        <span class="col_red f18 hasNew orderMsg">•</span>
                        {{/if}}
                        <span>通知消息</span>
                    </div>

                    {{if sys}}
                    <div class="col_sub f12 subTt wordW getContent">{{getText(sys.messagecontext||'暂无新消息')}}</div>
                    <div class="time col_sub f12 mt5">{{formatDate(sys.messagedate,'Y-m-d H:i')}}</div>
                    {{else}}
                    <div class="col_sub f12 subTt wordW">暂无新消息</div>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>


    <!--<div class="msCell bg_white" onclick="Comm.go('message.html?type=1')">-->
        <!--<div class="cellCt br5">-->
            <!--<div class="goods flex_start flexItem_h br5">-->
                <!--<img src="img/System.png" class="cellIcon imgCover br5">-->
                <!--<div class="goodsInfo p10 flex1 topBorder">-->
                    <!--<div class="goodsTitle">-->
                        <!--{{if sysIsRead>0}}-->
                        <!--<span class="col_red f18 hasNew sysMsg">•</span>-->
                        <!--{{/if}}-->
                        <!--<span>预约提示</span>-->
                    <!--</div>-->
                    <!--<div id="sysMessContent" class="col_sub f12 mt5 subTt wordW">{{'您已预约2019-06-24的门诊，请按时前往'}}</div>-->
                    <!--<div id="sysMessAddTime" class="time col_sub f12 marg_v5">{{formatDate(sysMessAddTime,'Y-m-d H:i')}}</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</script>

</body>

</html>